body{
    background-color: #034f7f;
}

.gamedemo{
    background-color: rgb(174, 224, 224);
}

.form-layout{  

    border-radius: 5px; 
    width: 500px;


}

.card1{
    margin:auto;
    padding-bottom: 20px;
    background-color: #034f7f;  

}
.buttonsrecord{
    text-align: center;
}

.errorlist{

    color: red;
}

#createrecordbutton{

    color: red;
    border-color: red;
}

.card-body{
    margin:auto;
    width:200px;
}