{% extends 'website/base.html' %}
{% load static %}
{% block content %}

    <br>
    <div class="text-center">
        <h3>Products page<h3>
        <hr>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/Feral1.jpg' %}" alt="Feral1">
            <div class="card-body">
              <h5 class="card-title">Feral </h5>
              <p class="card-text">The best pre workout on the planet, Made by the Tren Twins, owners of Feral Supps brand</p>
              <a href="https://feralsupplements.com/collections/frontpage/products/feral-stim" class="btn btn-primary">Store Page</a>
            </div>
          </div>


    {%  endblock %}