{% extends 'website/base.html' %}

{% block content %}

    <div class="card">
        <strong>
            {{record.last_name|upper}}
            {{record.first_name}}
        </strong>

        <div class="card-body">
            <p> <strong> ID: </strong> {{record.id}}</p>
            <p> <strong> Email: </strong> {{record.id}}</p>
            <p> <strong> Phone Number: </strong> {{record.id}}</p>
            <p> <strong> Address: </strong> {{record.id}}</p>
            <p> <strong> City: </strong> {{record.id}}</p>
            <p> <strong> Creation Date: </strong> {{record.id}}</p>
        </div>
    </div>
    <br>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Return To Dash </a> &nbsp;

    <a href="{% url 'update-record' record.id %}" class = "btn btn-info"> Update Record </a> &nbsp;

    <a href="{% url '' %}" class = "btn btn-danger "> Delete </a>
    


{% endblock %}