{% extends 'website/base.html' %}

{% block content %}

    <div class="card1 w-50 shadow-lg p-3 mb-3000 rounded">
        <div class="card-body ">
            <i class = "fa fa-user-circle-o" aria-hidden="true"></i>
            &nbsp;
            <strong>
                {{record.last_name|upper}} {{record.first_name}}    
            </strong>
            <hr>
            <p> <strong> ID: </strong> {{record.id}}</p>
            <p> <strong> Email: </strong> {{record.id}}</p>
            <p> <strong> Phone Number: </strong> {{record.id}}</p>
            <p> <strong> Address: </strong> {{record.id}}</p>
            <p> <strong> City: </strong> {{record.id}}</p>
            <p> <strong> Creation Date: </strong> {{record.id}}</p>
        </div>
    </div>
    <br>
    <div class = "buttonsrecord">
    <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Return To Dash <i class="fa fa-reply" aria-hidden="true"></i></a> &nbsp;

    <a href="{% url 'update-record' record.id %}" class = "btn btn-info"> Update Record <i class="fa fa-commenting" aria-hidden="true"></i></a> &nbsp; 

    <a href="{% url 'delete-record' record.id %}" class = "btn btn-danger "> Delete <i class="fa fa-bomb" aria-hidden="true"></i></a>
    </div>


{% endblock %}